<form [formGroup]="signInForm">
    <fieldset id="userField">
        <label for="username">Username</label>
        <input type="text" formControlName="user" maxlength="20" #username>
        <app-validity [field]="get('user')" [touched]="touch('user')"
            example="No se admiten espacios en el nombre"/>
    </fieldset>
    <fieldset id="emailField">
        <label for="email">Email</label>
        <input type="email" formControlName="email" #email>
        <app-validity [field]="get('email')" [touched]="touch('email')" 
            example="Como 'usuario@servidor'"
        />
    </fieldset>
    <fieldset id="birthField">
        <label for="birthDate">birthDate</label>
        <input type="date" formControlName="birthDate" #birthDate>
        <app-validity [field]="get('birthDate')" [touched]="touch('birthDate')"/>
    </fieldset>
    <fieldset id="pass1Field">
        <label for="password">Escriba una Contraseña</label>
        <input type="password" formControlName="password" #pass1>
        <app-validity [field]="get('password')" [touched]="touch('password')"
        example="Require al menos 1 Mayuscula, una minuscula y 1 numero o simbolo"/>
    </fieldset>
    <fieldset id="pass2Field">
        <label for="password">Repita la Contraseña</label>
        <input type="password" formControlName="password"  #pass2>
        <app-validity [field]="{
                required: pass2.value == '',
                custom: pass2.value !== pass1.value,
                minlength: {
                    requiredLength: 8,
                    actualLength: pass2.value.length
                }
            }"
            [touched]="touch('password')"
            custom="Las contraseñas no coinciden"/>
    </fieldset>
    <fieldset id="websiteField">
        <label for="website">website</label>
        <input formControlName="website" #website>
        <app-validity [field]="get('website')" [touched]="touch('website')"
        example="Debe indicar una url valida como https://fundacionpescar.com.ar"/>
    </fieldset>
    <fieldset id="addressField">
        <label for="address">address</label>
        <input formControlName="address" #address>
        <app-validity [field]="get('address')" [touched]="touch('address')"
        example="Nombre de Cuidad"/>
    </fieldset>
    <fieldset id="cityField">
        <label for="city">city</label>
        <input formControlName="city" #city>
        <app-validity [field]="get('city')" [touched]="touch('city')"/>
    </fieldset>
    <fieldset id="phoneField">
        <label for="phone">phone</label>
        <input formControlName="phone" #phone>
        <app-validity [field]="get('phone')" [touched]="touch('phone')"
        example="Ingrese solamente digito o respeste el ejemplo (5411) 0303-4567"/>
    </fieldset>
    <fieldset id="aboutField">
        <label for="about">about</label>
        <textarea formControlName="about" #about></textarea>
        {{get('about') | json}}
        <app-validity [field]="get('about')" [touched]="touch('about')"/>
    </fieldset>
    <button type="submit">{{text}}</button>
</form>

{{signInForm.value | json}}