form{
    max-width: 540px;
    display: grid;
    gap: .2rem;
    margin: 1rem auto;
    padding: 1rem;
}
label{
    margin-top: .5rem;
}
input,button{
    border-radius: .25rem;
    border: 1px solid;
    padding: .5rem 1rem;
    font-size: 1rem;
}
div{
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    translate: -50% -50%;
    width: min(90vw, 540px);
    border-radius: .5rem;
    padding: 1rem;
    background-color: #3c6;
    opacity: .9;
}
div.show{
    display: block;
}
div button{
    float: right;
    z-index: 1;
}
button:hover{
    background-color: #ccc;
}